.project-box{

background:#0a1025;

padding:20px;

margin:15px 0;

border-radius:15px;

border-left:4px solid #00ff99;

}



.project-box h3{

color:#00ff99;

}



.card ul{

margin-left:20px;

color:#bbb;

line-height:2;

}



.fa-dumbbell{

color:#00ff99;

}
