/* ===========================
   FITNESS SKILLS GALLERY
=========================== */


.fitness-gallery{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));

    gap:25px;

    margin-top:30px;

}




.fitness-photo{

    position:relative;

    height:380px;

    overflow:hidden;

    border-radius:25px;

    border:1px solid #1e40af;

    background:#020617;

    transition:0.4s;

}




.fitness-photo img{

    width:100%;

    height:100%;

    object-fit:cover;

    transition:0.5s;

}




.fitness-photo::after{

    content:"";

    position:absolute;

    inset:0;

    background:
    linear-gradient(
    transparent,
    rgba(0,0,0,0.9)
    );

}




.photo-text{

    position:absolute;

    bottom:0;

    left:0;

    padding:25px;

    z-index:2;

}




.photo-text h4{

    color:#00aaff;

    font-size:22px;

    margin-bottom:10px;

}




.photo-text p{

    color:white;

    font-size:14px;

}




.fitness-photo:hover{

    transform:translateY(-10px);

    border-color:#00aaff;

    box-shadow:
    0 0 30px rgba(0,170,255,0.6);

}




.fitness-photo:hover img{

    transform:scale(1.1);

}
